body {
    margin: 0;
    background: rgb(25, 9, 129);
    background: radial-gradient(circle, rgb(62, 7, 59) 0%, rgb(108, 16, 67) 50%, rgb(82, 35, 72) 100%);
    height: 750px;
    display: grid;
}

.title {
    color: white;
    font-size: 30px;
    text-align: center;
}

