body {
    margin: 0;
    padding: 0;
    background: rgb(25, 9, 129);
    background: radial-gradient(circle, rgb(62, 7, 59) 0%, rgb(108, 16, 67) 50%, rgb(82, 35, 72) 100%);
    display: grid;
}

.title {
    color: white;
    font-size: 30px;
    text-align: center;
}

.calculator {
    width: 400px;
    height: 550px;
    background-color: black;
    margin: auto;
}

.calcResult {
    background: rgb(85, 85, 129);
    background: linear-gradient(225deg, rgb(52, 52, 78) 0%, rgb(63, 99, 154) 50%, rgb(24, 44, 64) 100%);
    /* border-bottom: 1px solid lightgray; */
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.calcBody {
    background: rgb(2, 2, 41);
    background: radial-gradient(circle, rgb(62, 7, 59) 0%, rgb(108, 16, 67) 50%, rgb(82, 35, 72) 100%);
    height: 450px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-columns: auto auto auto auto; */
}
#Btn0{
    grid-column: span 2;
}
.calcButton{
    border: 1px solid  black;
    font-size: larger;
    cursor: pointer;
    transition: all .2s;
}
.calcButton:hover{
    text-shadow: 1px 1px 1px gray;
    background-color: lightgray;

}

.calcNum{
    background-color: rgb(151, 91, 151);
    color: white;
    transition: all .2s;
}
.calcNum:hover{
    background-color: rgb(115, 69, 115);
    text-shadow: 1px 1px 1px gray;
    color: white;
}
