body {
    margin: 0;
    padding: 0;
    background: rgb(25, 9, 129);
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(82, 35, 72) 100%);
    display: grid;
}

.title {
    color: black;
    font-size: 30px;
    text-align: center;
}

.calculator {
    border-radius: 20px;
    width: 400px;
    height: 550px;
    background-color: black;
    margin: auto;
    box-shadow: 10px -10px 25px rgb(0, 0, 0);

}

.calcResult {
    background: rgb(255, 255, 255);
    background: linear-gradient(225deg, rgba(187, 187, 255, 0.52) 0%, rgba(141, 187, 255, 0.928) 50%, rgb(58, 155, 252) 100%);
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}

.calcBody {
    background: rgb(2, 2, 41);
    background: radial-gradient(circle, rgb(62, 7, 59) 0%, rgb(108, 16, 67) 50%, rgb(82, 35, 72) 100%);
    height: 450px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-radius: 20px;
}

#Btndot{
  border-radius: 0px 0px 0px 20px;
}

#BtnEqual{
    grid-column: span 2;
    border-radius: 0px 0px 20px 0px;
}

.calcButton{
    border: 1px solid  black;
    font-size: larger;
    cursor: pointer;
    transition: all .2s;
}
.calcButton:hover{
    text-shadow: 1px 1px 1px gray;
    background-color: lightgray;

}

.calcNum{
    background-color: rgb(151, 91, 151);
    color: white;
    transition: all .2s;
}
.calcNum:hover{
    background-color: rgb(115, 69, 115);
    text-shadow: 1px 1px 1px gray;
    color: white;
}

.topCalc{
    background-color: rgb(104, 36, 194);
    color: white;
}
.topCalc:hover{
    background-color: rgb(86, 29, 161);
    text-shadow: 1px 1px 1px gray;
    color: white;
}

.calcOpr{
    background-color: rgb(161, 111, 210);
    color: white;
}
.calcOpr:hover{
    background-color: rgb(104, 80, 127);
    color: white;
}

#result{
    color: white;
    margin: 25px;
}